params {
    file = "HG00160.vcf"
}

profiles {
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            withName: FILTER {
                container = 'https://depot.galaxyproject.org/singularity/bcftools-gtc2vcf-plugin%3A1.18--h4dfc31f_0'
                ext.args = '-i \'DP >= 20 && MAPQ >= 40 && FILTER == "PASS"\''
            }
            withName: TABLE {
                container = 'https://depot.galaxyproject.org/singularity/bcftools-gtc2vcf-plugin%3A1.18--h4dfc31f_0'
            }
            withName: PROCESS_TABLE {
                container = 'images/python_pandas.sif'
            }
        }
    }
}
