params.file = "HG00160.vcf"
params.script = "tabled.py"

singularity {
    enabled = true
}

profiles {
    singularity {
        singularity.enabled = true

        process {
            withName: FILTER {
                container = 'bcftools_1.21--21573c18b3ab6bcb.sif'
            }
            withName: TABLE {
                container = 'bcftools_1.21--21573c18b3ab6bcb.sif'
            }
            withName: PROCESS_TABLE {
                container = 'python_pandas.sif'
            }
        }
    }
}


singularity {
    enabled = true
}
